includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - app/Core/
        - app/Controllers/
        - app/Model/
        - app/Middleware/
        - app/Services/
    excludePaths:
        - views/
        - vendor/
        - storage/
    ignoreErrors:
        -
            identifier: property.protected
            path: app/Controllers/
        -
            identifier: property.protected
            path: app/Services/
    reportUnmatchedIgnoredErrors: false
