.vardump-container {
    color: #f8f8f2;
    font-family: Consolas, Monaco, monospace;
    font-size: 14px;
    overflow-x: auto;
    white-space: pre;
    line-height: 1.4;
    padding: 1rem;
}
.vardump-node {
    margin-left: 1rem;
}
.vardump-limit {
    color: chocolate;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.vardump-toggle {
    cursor: pointer;
    color: #0077cc;
    user-select: none;
}
.vardump-children {
    margin-left: 1rem;
}

.big-font {
    font-size: 22px;
}

.vardump-key {
    color: #8be9fd;
}

.vardump-type {
    color: #bd93f9;
}

.vardump-string {
    color: #f1fa8c;
}

.vardump-number {
    color: #ff79c6;
}

.vardump-parents {
    color: rgb(255, 115, 0);
    font-size: 13px;
}

.vardump-file{
    color: gray;
    font-style: italic;
}

