/* CARDS */
.img-thumbnail {
    height: 300px;
    border: 1px solid #000;
}

.fix-object {
    object-fit: cover;
    height: 200px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.foo {
    margin-bottom: 200px;
}
